.hairday main {
    background-color: #D77968;
}

.hairday p{
    font-size: 1.15rem;
}
.hairday h3{
    font-size: 1.5rem;
}

.hairday .title, .hairday{
    background-color: #75acc2;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    color: white;

}

.hairday .project-header{
     display: grid;
  grid-template-columns:  0.75fr 1.25fr;
  grid-template-areas: "title logo";
  padding: 3vh;
  margin: 0;
  align-items: center;
      background-color: #75acc2;


}

.hairday .project-header{
    grid-area: title;
    margin-top: 0;
}

.hairday .project-header img{
    grid-area: logo;
    border-radius: 0%;
    width: 25rem;
    height: auto;
}

.hairday .project-header .title {
    background-color: #D77968;
}

.hairday .problem-outcome-section{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 2vh;
}

.hairday .problem-outcome-section img{
   border-radius: 8px;
   width: 90%;
   height: auto;
   align-self: center;
}

.hairday .outcome img{
    margin-top: 3vh;
    border: 2px solid #D77968;

}

.problem-outcome-section .duo-col{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.hairday .problem-outcome-section .title{
    background-color: #D77968;
}

.hairday .problem, .outcome{
    background-color: #75acc2;
}

.hairday img{

    border-radius: 8%;
}

.hairday .prototypeImg{
    width: 80%;
    padding: 4vh;
}

.hairday .duo-rows{
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.hairday li{
    list-style-type: circle;
}

.hairday b{
    -webkit-text-stroke: 1px #75acc2;
}

.hairday .duo-rows li{
    font-size: 22px;
  padding-top: 1vh;
  border: none;
}

.hairday .styleGuide{
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 1fr;
    gap: 0.25rem;
}
.hairday .styleBox{
   width: 80%;
   justify-self: center;
  }

.hairday .styleBox img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.hairday button{
    background-color: #75acc2;
    border: #FFF 2px solid;
    color: #FFFF;
}

.hairday button:hover{
    background-color: #D77968;
    border: #FFF 4px solid;
    color: #FFF;
    font-weight: bold;
}

@media(max-width: 768px){
.hairday .project-header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "logo"
  "title";
  padding: 1vh;
  margin: 0;
  align-items: center;
}

.hairday .project-header img{
  width:25rem;
  height: auto;
}
.problem-outcome-section{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 2vh;
  margin: 1vh;
  text-align: center;
}

.problem, .outcome{
    grid-template-columns: auto auto auto auto;
  width: 100%;
  border-radius: 8px;
}

.problem-outcome-section img{
  align-self: center;
  justify-self: center;
  width: 10rem;
}

.duo-col{
    grid-template-columns: 1fr;
}
}