.lemon main{
  background-color: #495E57;
}

.lemon ul{
  list-style: none;
  padding-right: 0.5vh;
}

.lemon p{
  font-size: 20px;
  padding: 3vh;
}

.lemon li{
    font-size: 1.25rem;
    padding-left: 3vh;
    padding-top: 2vh;
}

.lemon .ideationList{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  border: 1px solid #F4CE14;
  align-items: center;
  justify-items: center;
  justify-self: center;
  padding: 3vh;
  width: 100%;
}
.goalsList li{
    font-size: 1.25rem;
    border: none;
    list-style: circle;
  }
.lemon .project-header{
  display: grid;
  grid-template-columns:  0.75fr 1.25fr;
  grid-template-areas: "title logo";
  padding: 3vh;
  margin: 0;
  align-items: center;
  background-color: #D9D9D9;
}

.project-header img{
  grid-area: logo;
  justify-self: center;
}

.project-header .title {
    grid-area: title;
  padding-left: 1.5vw;
  background-color: transparent;
  justify-content: center;
  border-radius: 12px;
  color:black;
  border-top: 2px solid #495E57;
  border-bottom: 2px solid #495E57;
}

.lemon .title{
   display: grid;
  background-color:#F4CE14;
  color: black;
  height: auto;
  width: fill;
  justify-content: center;
  align-content: center;
  border-top: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 12px;
}

.lemon ul li{
    color: #F4CE14;
}

.lemon ul li b{
    color: white;
}
.lemon ul h3{
    font-size: 1.35rem;
}

.lemon .project-section{
   margin: 3vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  justify-items: center;
  color: #D9D9D9;
}

.lemon .problem-outcome-section{
  display:grid;
  grid-template-columns: auto auto;
  gap: 3vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 4vh;
  border-top: 2px solid #de9e48;
  border-bottom: 2px solid #de9e48;
  margin: 3vh 0;
}

.lemon .problem, .lemon .outcome{
  background-color: transparent;
  border: 1px solid #de9e48;
  justify-self: center;
  width: 45vw;
  border-radius: 8px;
  padding: 15px;
}

.lemon .problem-outcome-section img{
  align-self: center;
  justify-self: center;
  width: 20rem;
  border-radius: 25px;
}

.lemon .problem .duo-col{
  grid-template-rows: auto auto;
}

.lemon .problem img{
  width: 90%;
}

.lemon .styleGuide{
    display: grid;
    grid-template-rows: 0.15fr 0.25fr 1fr;
    gap: 0.25rem;
}
.lemon .styleBox{
   width: 80%;
   justify-self: center;
  }

.lemon .styleBox img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.lemon .prototypeImg{
  width: 75%;
}

.lemon .duo-cols{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
  padding: 2vh;
}

.lemon .duo-rows{
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.lemon .duo-rows li{
  list-style: circle;
  padding-top: 1vh;
  border: none;
}

.tri-col{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1vh;
  align-items: center;
  text-align: center;
}

.tri-col .project-section{
  font-size: 1rem;
  height: 15rem;
}

.lemon button{
  display: grid;
  border-radius: 12px;
  background-color: #F4CE14;
  justify-self: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
}

.lemon button:hover{
  background-color: #495E57;
  border: 2px solid #F4CE14;
  color: #D9D9D9;
}



@media(max-width: 768px){
.lemon .project-header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "logo"
  "title";
  padding: 1vh;
  margin: 0;
  align-items: center;
}

.lemon .project-header img{
  width:25rem;
  height: auto;
}
.lemon .problem-outcome-section{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 2vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 2vh;
  margin: 1vh;
  text-align: center;
}

.lemon .problem, .lemon .outcome{
    grid-template-columns: auto auto auto auto;
  width: 100%;
  border-radius: 8px;
}


.lemon .problem img{
  align-self: center;
  justify-self: center;
  width: 30rem;
}

.lemon .duo-col{
    grid-template-columns: 1fr;
}

.lemon .tri-col{
  grid-template-columns: 1fr;
}
.lemon .tri-col .project-section{
  margin-bottom: 0.15rem;
}
}
