.hairday main {
    background-color: #D77968;
}

.hairday .title, .hairday .project-header{
    background-color: #75acc2;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    color: white;
}

.hairday .project-header{
    margin-top: 0;
}

.hairday .project-header .title {
    background-color: #D77968;
}

.hairday .problem-outcome-section{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.hairday .problem-outcome-section img{
   border-radius: 8px;
   width: 75%;
   align-self: center;
}

.hairday .outcome img{
    width: 40vw;
    margin-top: 3vh;
    border: 2px solid #D77968;

}

.problem-outcome-section .duo-col{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.hairday .problem-outcome-section .title{
    background-color: #D77968;
}

.hairday .problem, .outcome{
    background-color: #75acc2;
}

.hairday img{

    border-radius: 25px;
}

.hairday .prototypeImg{
    width: 80%;
    padding: 4vh;
    border-radius: 35px;
}

.hairday .duo-rows{
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.hairday li{
    list-style-type: circle;
}

.hairday b{
    -webkit-text-stroke: 1px #75acc2;
}

.hairday .duo-rows li{
    font-size: 22px;
  padding-top: 1vh;
  border: none;
}

.hairday .styleBox{
    display:grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}


.hairday button{
    background-color: #75acc2;
    border: #FFF 2px solid;
    color: #FFFF;
}

.hairday button:hover{
    background-color: #D77968;
    border: #FFF 4px solid;
    color: #FFF;
    font-weight: bold;
}