main{
  background-color: #010F14;
  color: white;
}

img {
  width: 500px;
  height: auto;
  border-radius: 15%;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #022f40;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vh 1vw;
    position: sticky;
    top: 0;
    color: #EA7189;
    border-bottom: 3px solid #EA7189
    }

header button{
  font-size: 50px;
  font-weight: bold;
  background-color: transparent;
  border: 0.5px solid #EA7189;
  border-radius: 50%;
  color: #EA7189;
  padding: 10px;
  margin: 5px 0 5px 0;
}

header button:hover{
  cursor: pointer;
  background-color:#EA7189;
  color: #010F14;
}
nav{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    gap: 20px;
    margin-top: 10px;
    margin-right: 2vw;
    margin-bottom: 0;
    font-size: 25px;

}

nav a{
    text-decoration: none;
    color: #EA7189;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover{
    color: white;
    font-size: 30px;
}

.title{
   display: grid;
  background-color:#022f40;
  height: auto;
  width: fill;
  justify-content: center;
  align-content: center;
  border-top: 2px solid #EA7189;
  border-bottom: 2px solid #EA7189;
  padding-top: 2vh;
  padding-bottom: 2vh;

}

.work-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
}

.intro-header{
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  background-color: #022f40;
  color: white;
  align-items: start;
  justify-items: center;
  text-align: left;
  padding-top: 2vh;
  position:fixed;
  width: 40vw;
  height: 100%;
  border-right: 3px solid #EA7189;
}

.intro-header img{
  width: 25vw;
  height: auto;
  justify-self: center;
}

.intro-header p{
  font-size: 22px;
}

.home-projects{
  display: grid;
  grid-template-columns: 40vw 60vw;;

}

.home-projects h2{
  text-align: center;
  font-size: 2em;
}

.spacer{
  background-color: none;
}

.proj-thumbnail{
  display: grid;
  grid-template-rows: 1fr auto auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 25vw;
  background-color: #046E8F;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  color: white;
}

.proj-thumbnail:hover{
  border: 2px solid #EA7189;
  background-color: #022f40;
  cursor: pointer;
}
.proj-thumbnail img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.proj-list{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  padding: 5px;
  overflow-y: scroll;
  margin-bottom: 10vh;
}

::-webkit-scrollbar{
  display:none;
}
.extra-nav {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 5px;
}
.extra-nav button{
  height: 6vh;
  width: fill;
  margin: 8px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  background-color: #EA7189;
  color: #022f40;
}

.extra-nav button:hover{
  color:#0077B5;
  background-color: #022f40;
  border: 1px solid #EA7189;
  cursor: pointer;
}

.about-header{
  display:grid;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: #022f40;
  padding-bottom: 3vh;
  border-bottom: 1.5px solid #EA7189;
}

.about-header button{
  width: 20vw;
  height: 6.7vh;
  font-size: 20px;
  border-radius: 15px;
  background-color: #0077B5;
  color: white;
}

.about-header button:hover{
  background-color: #3592c4;
  border: 1px solid #EA7189;
  box-shadow: #333 2px 1px 1px;
  font-size: 24px;
}

.buttons{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vw;
}

.core-values{
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.values-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2vw;
}

.value-box{
  display: grid;
  grid-template-rows: auto auto;
  border: 2px solid white;
  border-radius: 15px;
  justify-content: center;
  min-width: 350px;
}

.hobbies{
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 3vh;
  justify-content: center;
  text-align: center;
  margin-bottom: 8vh;
}

.visual{
  display: flexbox;
  justify-content: center;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 12vh;
}




form{
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  padding: 3.5vw;
  font-size: 25px;
  justify-content: center;
}

label{
  padding-left: 0.75vw;
}

input, textarea{
  height: 6vh;
  width: 65vw;
  padding-left: 15px;
  border-radius: 25px;
  font-size: 25px;
  background-color: #022f40;
  color: white;
}

textarea{
  height: 8vh;
  text-align: left;
  padding: 8px 10px;
}

form button{
  height: 6vh;
  width: 50vw;
  border-radius: 25px;
  font-size: 25px;
  background-color: #EA7189;
  margin-top: 2vh;
  justify-self: center;
}

.socials
{
  align-items: center;
  justify-items: center;
  padding-bottom: 6vh;
}

.socials .title{
  border-top: 2px #EA7189 solid;
}

.social-links
{
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  padding: 3.5vw;
}

.social-links button{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-content: center;
  border-radius: 20px;
  height: 8vh;
  width:20vw;
  text-align: left;
  padding: 1vh;
}

.social-links img{
  width: 4vw;
  justify-self: center;
  align-self: center;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #022f40;
  color: white;
  text-align: left;
  padding: 0 3vw  0 3vw ;
  z-index: 1000;
  border-top: 3px solid #EA7189;
}

.rightSide button{
  height: 65px;
  width: 65px;
  background-color: #EA7189;
}
.rightSide{
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  margin-right: 6vw;
  justify-content: end;
  align-content: center;
}


.project{
  padding-bottom: 10vh;
}

.problem-outcome-section{
  display:grid;
  grid-template-columns: auto auto;
  gap: 5vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 2vw 5vh;
}

.problem, .outcome{
  background-color: #0077B5;
  justify-self: center;
  width: 45vw;
  border: 1px solid #EA7189;
  border-radius: 8px;
  padding: 15px;
}

.problem-outcome-section img{
  align-self: center;
  justify-self: center;
}


