main{
  background-color: #2c1c15;
  color: white;
}

button:hover{
  cursor: pointer;
}
img {
  width: 500px;
  height: auto;
  border-radius: 15%;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #563727;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vh 1vw;
    position: sticky;
    top: 0;
    color: #7f5539;
    border-bottom: 3px solid #7f5539
    }

header button{
  font-size: 50px;
  font-weight: bold;
  background-color: transparent;
  border: 0.5px solid #de9e48;
  border-radius: 50%;
  color: #de9e48;
  padding: 10px;
  margin: 5px 0 5px 0;
}

header button:hover{
  cursor: pointer;
  background-color:#de9e48;
  color: #2c1c15;
}
nav{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    gap: 20px;
    margin-top: 10px;
    margin-right: 2vw;
    margin-bottom: 0;
    font-size: 25px;

}

nav a{
    text-decoration: none;
    color: #de9e48;
    font-weight: bold;
    font-size: 1em;
}

nav a:hover{
    color: #FFFF;
    font-size: 1.2em;
}

.title{
   display: grid;
  background-color:#563727;
  height: auto;
  width: fill;
  justify-content: center;
  align-content: center;
  border-top: 2px solid #7f5539;
  border-bottom: 2px solid #7f5539;
  padding-top: 2vh;
  padding-bottom: 2vh;

}

.work-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
}

.intro-header{
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  background-color: #563727;
  color: white;
  align-items: start;
  justify-items: center;
  text-align: left;
  padding: 2vh 2vh 10vh 2vh;
  position:fixed;
  width: 40vw;
  height: 100%;
  border-right: 3px solid #7f5539;
}

.intro-header img{
  width: 15vw;
  height: auto;
  justify-self: center;
}

.intro-header p{
  font-size: 22px;
}

.home-projects{
  display: grid;
  grid-template-columns: 40vw 60vw;;

}

.home-projects h2{
  text-align: center;
  font-size: 2em;
}

.spacer{
  background-color: none;
}


.proj-thumbnail{
  display: grid;
  grid-template-rows: auto auto 1fr;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 40vw;
  background-color: #563727;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  color: #de9e48;
}

.proj-thumbnail:hover{
  border: 3.5px solid #FFFF;
  background-color: #de9e48;
  color: #2c1c15;
  cursor: pointer;
}
.proj-thumbnail img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.proj-list{
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  justify-content: center;
  padding: 5px;
  overflow-y: scroll;
  margin-bottom: 10vh;
}

::-webkit-scrollbar{
  display:none;
}
.extra-nav {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;

}
.extra-nav button{
  height: 6vh;
  width: fill;
  margin: 8px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  background-color: #de9e48;
  color: #2c1c15;
}

.extra-nav button:hover{
  color:#FFF;
  background-color: #2c1c15;
  border: 1px solid #de9e48;
  cursor: pointer;
}

.about-header{
  display:grid;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding-bottom: 3vh;
  border-bottom: 1.5px solid #7f5539;
}

.about-header button{
  width: 20vw;
  height: 6.7vh;
  font-size: 20px;
  border-radius: 15px;
  background-color: #de9e48;
  color: 2c1c15;
  font-weight: bold;
}

.about-header button:hover{
  background-color: #7a431d;
  border: 2px solid #de9e48;
  color: white;
  box-shadow: #333 2px 1px 1px;
  font-size: 24px;
  width: auto;
}

.buttons{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vw;
}

.about-descrip{
  display:grid;
  grid-template-columns: 1fr  1fr;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

.about-descrip p{
  font-size: 15px;
  margin: 10px;
  padding-left: 15rem;
  padding-right: 2rem;
  line-height: 2;
  text-align: left;
}


.core-values{
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2vh;
  margin-bottom: 10vh;
}

.values-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2vw;
}

.value-box{
  display: grid;
  grid-template-rows: auto auto;
  border: 2px solid white;
  border-radius: 15px;
  justify-content: center;
  min-width: 350px;
}

.hobbies{
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 3vh;
  justify-content: center;
  text-align: center;
  margin-bottom: 8vh;
}

.visual{
  display: flexbox;
  justify-content: center;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 12vh;
}




form{
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  padding: 3.5vw;
  font-size: 25px;
  justify-content: center;
}

label{
  padding-left: 0.75vw;
}

input, textarea{
  height: 6vh;
  width: 65vw;
  padding-left: 15px;
  border-radius: 25px;
  font-size: 25px;
  background-color: #563727;
  color: white;
}

textarea{
  height: 8vh;
  text-align: left;
  padding: 8px 10px;
}

form button{
  height: 6vh;
  width: 50vw;
  border-radius: 25px;
  font-size: 25px;
  background-color: #de9e48;
  margin-top: 2vh;
  justify-self: center;

}

.socials
{
  align-items: center;
  justify-items: center;
  padding-bottom: 6vh;
}

.social-links
{
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  padding: 3.5vw;
}

.social-links button{
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  height: 8vw;
  width:8vw;
  text-align: center;
  padding: 1vh;
  background-color: transparent;
  border: none;
}

.social-links button:hover{
  background-color: #563727;
  border: 2px solid #de9e48;
  cursor: pointer;
}


.social-links img{
  width: 6vw;}

footer {
  display: grid;
  grid-template-columns: auto auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #563727;
  color: #de9e48;
  text-align: left;
  padding: 0 3vw  0 3vw ;
  z-index: 1000;
  border-top: 3px solid #7f5539;
  opacity: 75%;
}

footer:hover{
  opacity: 100%;
}

.rightSide button{
  height: 3vw;
  width: 3vw;
  border-radius: 12px;
  background-color: transparent;
  border: none;
}

.rightSide button:hover{
  background-color: #2c1c15;
  border: 1px solid #de9e48;
  cursor: pointer;
}
.rightSide{
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  margin-right: 6vw;
  justify-content: end;
  align-content: center;
}


.project{
  padding-bottom: 10vh;
}

.problem-outcome-section{
  display:grid;
  grid-template-columns: auto auto;
  gap: 5vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 2vw 5vh;
  border-top: 2px solid #de9e48;
  border-bottom: 2px solid #de9e48;
  margin: 3vh 0;
}

.problem, .outcome{
  background-color: #563727;
  justify-self: center;
  width: 45vw;
  border-radius: 8px;
  padding: 15px;
}

.problem-outcome-section img{
  align-self: center;
  justify-self: center;
}

.duo-col{
  display: grid;
  grid-template-columns: auto auto;
}

.tri-col{
display: grid;
  grid-template-columns: auto auto auto;
  gap: 2vw;
  margin-top: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;
  align-items: center;
  text-align: center;
}

