.lemon main{
  background-color: #495E57;
}

ul{
  list-style: none;
}

.lemon p{
  font-size: 20px;
  padding: 3vh;
}

li{
    font-size: 20px;
    padding-left: 3vh;
    border-top: 2px solid #F4CE14;
    padding-top: 2vh;
}

.ideationList{
  display:grid;
  grid-template-columns: auto auto;
  border: 1px solid #F4CE14;
  align-items: center;
  justify-items: center;
  padding: 2vh;
}
.goalsList li{
    font-size: 22px;
    border: none;
    list-style: circle;
  }
.project-header{
  display: grid;
  grid-template-columns:  0.75fr 1.25fr;
  padding: 3vh;
  margin: 0;
  align-items: center;
  background-color: #D9D9D9;
}

.project-header img{
  justify-self: center;
}

.project-header .title {
  padding-left: 1.5vw;
  background-color: transparent;
  justify-content: center;
  border-radius: 12px;
  color:black;
  border-top: 2px solid #495E57;
  border-bottom: 2px solid #495E57;
}

.lemon .title{
   display: grid;
  background-color:#F4CE14;
  color: black;
  height: auto;
  width: fill;
  justify-content: center;
  align-content: center;
  border-top: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 12px;
}

.lemon ul li{
    color: #F4CE14;
}

.lemon ul li b{
    color: white;
}
.lemon ul h3{
    font-size: 22px;
}

.lemon .project-section{
  margin: 2vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  justify-items: center;
  color: #D9D9D9;
}

.lemon .problem-outcome-section{
  display:grid;
  grid-template-columns: auto auto;
  gap: 3vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 4vh;
  border-top: 2px solid #de9e48;
  border-bottom: 2px solid #de9e48;
  margin: 3vh 0;
}

.lemon .problem, .lemon .outcome{
  background-color: transparent;
  border: 1px solid #de9e48;
  justify-self: center;
  width: 45vw;
  border-radius: 8px;
  padding: 15px;
}

.lemon .problem-outcome-section img{
  align-self: center;
  justify-self: center;
  width: 10rem;
}

.lemon .duo-cols{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
  padding: 2vh;
}

.lemon .duo-rows{
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.lemon .duo-rows li{
  list-style: circle;
  padding-top: 1vh;
  border: none;
}

.lemon .tri-col{
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  margin-top: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;
  align-items: center;
  text-align: center;
}

.lemon button{
  display: grid;
  border-radius: 12px;
  background-color: #F4CE14;
  justify-self: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
}

.lemon button:hover{
  background-color: #495E57;
  border: 2px solid #F4CE14;
  color: #D9D9D9;
}

